# DataHacks2020: Science Track

## Exploratory Data Analysis

### Notes:
* Five or more relatied sections from any topic of interest
* NLP on questions
* 2001-2016 time span
* srat cat 2 and 3 are all null
* response is not response its null?, DataValue contains the values
* plotly

In [1]:
import numpy as np
import pandas as pd

In [2]:
raw_data = pd.read_csv('data/U.S._Chronic_Disease_Indicators__CDI_.csv')

In [3]:
raw_data.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2015,2015,US,United States,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,NaN,$,US Dollars,...,59,ALC,ALC8_0_2,USD,OVERALL,OVR,NaN,NaN,NaN,NaN
1,2012,2012,DC,District of Columbia,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,NaN,$,US Dollars,...,11,ALC,ALC8_0_1,USD,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2012,2012,GU,Guam,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,NaN,$,US Dollars,...,66,ALC,ALC8_0_1,USD,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2012,2012,PR,Puerto Rico,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,NaN,$,US Dollars,...,72,ALC,ALC8_0_1,USD,OVERALL,OVR,NaN,NaN,NaN,NaN
4,2012,2012,US,United States,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,NaN,$,US Dollars,...,59,ALC,ALC8_0_1,USD,OVERALL,OVR,NaN,NaN,NaN,NaN

In [4]:
# attributes to note: YearStart/YearEnd, Tpoic, Question, Response, DataValue, Geolocation, StartificationCategory
raw_data.describe()

,YearStart,YearEnd,DataValueAlt,LowConfidenceLimit,HighConfidenceLimit,LocationID
count,519718.000000,519718.000000,3.503350e+05,311062.000000,311062.000000,519718.000000
mean,2013.141885,2013.162754,8.917742e+02,46.759401,58.991287,30.993144
std,1.777622,1.762672,1.833073e+04,77.492628,88.668862,17.723341
min,2001.000000,2001.000000,0.000000e+00,0.200000,0.420000,1.000000
25%,2012.000000,2012.000000,1.845500e+01,12.700000,18.900000,17.000000
50%,2013.000000,2013.000000,4.100000e+01,30.200000,43.800000,30.000000
75%,2015.000000,2015.000000,7.030000e+01,55.400000,70.400000,45.000000
max,2016.000000,2016.000000,2.600878e+06,1330.660000,2088.000000,78.000000

In [5]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519718 entries, 0 to 519717
Data columns (total 34 columns):
YearStart                    519718 non-null int64
YearEnd                      519718 non-null int64
LocationAbbr                 519718 non-null object
LocationDesc                 519718 non-null object
DataSource                   519718 non-null object
Topic                        519718 non-null object
Question                     519718 non-null object
Response                     79188 non-null object
DataValueUnit                476046 non-null object
DataValueType                519718 non-null object
DataValue                    374564 non-null object
DataValueAlt                 350335 non-null float64
DataValueFootnoteSymbol      227318 non-null object
DatavalueFootnote            227152 non-null object
LowConfidenceLimit           311062 non-null float64
HighConfidenceLimit          311062 non-null float64
StratificationCategory1      519718 non-null object
Stratification1              519718 non-null object
StratificationCategory2      79188 non-null object
Stratification2              79188 non-null object
StratificationCategory3      79188 non-null object
Stratification3              79188 non-null object
GeoLocation                  516115 non-null object
ResponseID                   79176 non-null object
LocationID                   519718 non-null int64
TopicID                      519718 non-null object
QuestionID                   519718 non-null object
DataValueTypeID              519718 non-null object
StratificationCategoryID1    519718 non-null object
StratificationID1            519718 non-null object
StratificationCategoryID2    79189 non-null object
StratificationID2            79189 non-null object
StratificationCategoryID3    79188 non-null object
StratificationID3            79188 non-null object
dtypes: float64(3), int64(3), object(28)
memory usage: 134.8+ MB

Response, ResponseID, Stratification2/3, StratificationID2/3, StratificationCategory2/3, and StratificationCategoryID2/3 all have ~ 79000 non-null, which is suspicious

In [7]:
null_cols = ['Response', 'ResponseID', 'Stratification2', 'Stratification3', 
             'StratificationCategory2', 'StratificationCategory3', 'StratificationID2', 'StratificationID3', 
             'StratificationCategoryID2', 'StratificationCategoryID3']

for col in null_cols:
    print(raw_data[col].value_counts())

     79188
Name: Response, dtype: int64
     79176
Name: ResponseID, dtype: int64
     79188
Name: Stratification2, dtype: int64
     79188
Name: Stratification3, dtype: int64
     79188
Name: StratificationCategory2, dtype: int64
     79188
Name: StratificationCategory3, dtype: int64
     79189
Name: StratificationID2, dtype: int64
     79188
Name: StratificationID3, dtype: int64
     79189
Name: StratificationCategoryID2, dtype: int64
     79188
Name: StratificationCategoryID3, dtype: int64

All of these columns are blank/null, so we can safely remove them.

In [8]:
data = raw_data.drop(null_cols, axis=1)

There is both a Topic and TopicID column, which could be redundant.

In [9]:
data[['Topic', 'TopicID']].groupby('Topic')['TopicID'].nunique()

Topic
Alcohol                                            1
Arthritis                                          1
Asthma                                             1
Cancer                                             1
Cardiovascular Disease                             1
Chronic Kidney Disease                             1
Chronic Obstructive Pulmonary Disease              1
Diabetes                                           1
Disability                                         1
Immunization                                       1
Mental Health                                      1
Nutrition, Physical Activity, and Weight Status    1
Older Adults                                       1
Oral Health                                        1
Overarching Conditions                             1
Reproductive Health                                1
Tobacco                                            1
Name: TopicID, dtype: int64

Indeed, Topic and TopicID are redundant, so we can remove one. In this case, TopicID is mor ambiguous, so we remove it. However, we will keep a map for reference.

In [10]:
TopicIdToTopic = data[['Topic', 'TopicID']].drop_duplicates().set_index('TopicID')
data = data.drop('TopicID', axis=1)

raw_data[['Topic', 'TopicID']].drop_duplicates().set_index('TopicID')

Let's now look at the topics:

In [11]:
data.Topic.value_counts(normalize=True)

Diabetes                                           0.153220
Chronic Obstructive Pulmonary Disease              0.151484
Cardiovascular Disease                             0.145823
Arthritis                                          0.080361
Overarching Conditions                             0.075737
Asthma                                             0.075543
Nutrition, Physical Activity, and Weight Status    0.064691
Alcohol                                            0.061283
Tobacco                                            0.056388
Older Adults                                       0.029439
Cancer                                             0.027132
Chronic Kidney Disease                             0.023849
Oral Health                                        0.021429
Mental Health                                      0.013902
Immunization                                       0.010044
Disability                                         0.005711
Reproductive Health                                0.003964
Name: Topic, dtype: float64

There is the most data for Diabetes, so we'll explore it first.

In [12]:
diabetes = data.loc[data.Topic=='Diabetes']
diabetes.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,DataValueUnit,DataValueType,DataValue,...,LowConfidenceLimit,HighConfidenceLimit,StratificationCategory1,Stratification1,GeoLocation,LocationID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1
258,2012,2012,IL,Illinois,BRFSS,Diabetes,Foot examination among adults aged >= 18 years...,%,Age-adjusted Prevalence,NaN,...,NaN,NaN,Gender,Male,"(40.485010283, -88.997710178)",17,DIA5_0,AGEADJPREV,GENDER,GENM
262,2011,2011,IL,Illinois,BRFSS,Diabetes,Foot examination among adults aged >= 18 years...,%,Crude Prevalence,NaN,...,NaN,NaN,Gender,Male,"(40.485010283, -88.997710178)",17,DIA5_0,CRDPREV,GENDER,GENM
276,2010,2010,AK,Alaska,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Age-adjusted Rate,51.9,...,42.1,61.7,Gender,Female,"(64.845079957001, -147.722059036)",2,DIA1_1,AGEADJRATE,GENDER,GENF
303,2011,2011,KS,Kansas,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,27,...,NaN,NaN,Overall,Overall,"(38.3477403, -98.200781227)",20,DIA1_2,NMBR,OVERALL,OVR
308,2016,2016,FL,Florida,BRFSS,Diabetes,Influenza vaccination among noninstitutionaliz...,%,Crude Prevalence,48,...,42.9,53.2,Race/Ethnicity,"White, non-Hispanic","(28.932040377, -81.928960539)",12,DIA12_1,CRDPREV,RACE,WHT

In [15]:
diabetes.iloc[10]

YearStart                                                                 2010
YearEnd                                                                   2010
LocationAbbr                                                                AR
LocationDesc                                                          Arkansas
DataSource                                                                NVSS
Topic                                                                 Diabetes
Question                     Mortality due to diabetes reported as any list...
DataValueUnit                                                              NaN
DataValueType                                                           Number
DataValue                                                                 1091
DataValueAlt                                                              1091
DataValueFootnoteSymbol
DatavalueFootnote
LowConfidenceLimit                                                         NaN
HighConfidenceLimit                                                        NaN
StratificationCategory1                                                 Gender
Stratification1                                                         Female
GeoLocation                                      (34.748650124, -92.274490743)
LocationID                                                                   5
QuestionID                                                              DIA1_1
DataValueTypeID                                                           NMBR
StratificationCategoryID1                                               GENDER
StratificationID1                                                         GENF
Name: 366, dtype: object

In [18]:
diabetes.Question.value_counts()

Mortality due to diabetes reported as any listed cause of death                                        6135
Mortality with diabetic ketoacidosis reported as any listed cause of death                             6135
Prevalence of depressive disorders among adults aged >= 18 years with diagnosed diabetes               5220
Adults with diagnosed diabetes aged >= 18 years who have taken a diabetes self-management course       5220
Dilated eye examination among adults aged >= 18 years with diagnosed diabetes                          5220
Influenza vaccination among noninstitutionalized adults aged >= 65 years with diagnosed diabetes       5220
Influenza vaccination among noninstitutionalized adults aged 18-64 years with diagnosed diabetes       5220
Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with diagnosed diabetes    5220
Glycosylated hemoglobin measurement among adults aged >= 18 years with diagnosed diabetes              5220
Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with diagnosed diabetes    5220
Foot examination among adults aged >= 18 years with diagnosed diabetes                                 5220
Prevalence of diagnosed diabetes among adults aged >= 18 years                                         5220
Hospitalization with diabetes as a listed diagnosis                                                    2637
Amputation of a lower extremity attributable to diabetes                                               2637
Prevalence of high blood pressure among adults aged >= 18 years with diagnosed diabetes                2610
Visits to dentist or dental clinic among adults aged >= 18 years with diagnosed diabetes               2610
Prevalence of high cholesterol among adults aged >= 18 years with diagnosed diabetes                   2610
Diabetes prevalence among women aged 18-44 years                                                       1950
Prevalence of pre-pregnancy diabetes                                                                     55
Prevalence of gestational diabetes                                                                       52
Name: Question, dtype: int64

In [21]:
diabetes.loc[diabetes.Question=='Mortality due to diabetes reported as any listed cause of death']

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,DataValueUnit,DataValueType,DataValue,...,LowConfidenceLimit,HighConfidenceLimit,StratificationCategory1,Stratification1,GeoLocation,LocationID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1
276,2010,2010,AK,Alaska,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Age-adjusted Rate,51.9,...,42.1,61.7,Gender,Female,"(64.845079957001, -147.722059036)",2,DIA1_1,AGEADJRATE,GENDER,GENF
366,2010,2010,AR,Arkansas,NVSS,Diabetes,Mortality due to diabetes reported as any list...,NaN,Number,1091,...,NaN,NaN,Gender,Female,"(34.748650124, -92.274490743)",5,DIA1_1,NMBR,GENDER,GENF
422,2012,2012,WV,West Virginia,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Crude Rate,,...,NaN,NaN,Race/Ethnicity,Hispanic,"(38.665510202, -80.712640135)",54,DIA1_1,CRDRATE,RACE,HIS
444,2014,2014,AL,Alabama,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Age-adjusted Rate,,...,NaN,NaN,Race/Ethnicity,Asian or Pacific Islander,"(32.840571122, -86.631860762)",1,DIA1_1,AGEADJRATE,RACE,API
472,2010,2010,WY,Wyoming,NVSS,Diabetes,Mortality due to diabetes reported as any list...,NaN,Number,306,...,NaN,NaN,Race/Ethnicity,"White, non-Hispanic","(43.235541343, -108.109830353)",56,DIA1_1,NMBR,RACE,WHT
482,2011,2011,FL,Florida,NVSS,Diabetes,Mortality due to diabetes reported as any list...,NaN,Number,1499,...,NaN,NaN,Race/Ethnicity,Hispanic,"(28.932040377, -81.928960539)",12,DIA1_1,NMBR,RACE,HIS
712,2012,2012,CO,Colorado,NVSS,Diabetes,Mortality due to diabetes reported as any list...,NaN,Number,141,...,NaN,NaN,Race/Ethnicity,"Black, non-Hispanic","(38.843840757, -106.133610921)",8,DIA1_1,NMBR,RACE,BLK
785,2013,2013,MS,Mississippi,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Age-adjusted Rate,144.1,...,135.9,152.2,Race/Ethnicity,"Black, non-Hispanic","(32.745510099, -89.538030825)",28,DIA1_1,AGEADJRATE,RACE,BLK
907,2014,2014,AK,Alaska,NVSS,Diabetes,Mortality due to diabetes reported as any list...,NaN,Number,,...,NaN,NaN,Race/Ethnicity,Hispanic,"(64.845079957001, -147.722059036)",2,DIA1_1,NMBR,RACE,HIS
977,2012,2012,OH,Ohio,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Age-adjusted Rate,77.1,...,75.1,79.0,Gender,Female,"(40.060210141, -82.404260056)",39,DIA1_1,AGEADJRATE,GENDER,GENF
1078,2010,2010,AK,Alaska,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Crude Rate,36.4,...,29.8,43.0,Gender,Female,"(64.845079957001, -147.722059036)",2,DIA1_1,CRDRATE,GENDER,GENF
1085,2014,2014,CO,Colorado,NVSS,Diabetes,Mortality due to diabetes reported as any list...,NaN,Number,52,...,NaN,NaN,Race/Ethnicity,Asian or Pacific Islander,"(38.843840757, -106.133610921)",8,DIA1_1,NMBR,RACE,API
1171,2012,2012,AZ,Arizona,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Crude Rate,72.4,...,69.7,75.1,Race/Ethnicity,"White, non-Hispanic","(34.86597028, -111.763811277)",4,DIA1_1,CRDRATE,RACE,WHT
1297,2013,2013,ND,North Dakota,NVSS,Diabetes,Mortality due to diabetes reported as any list...,NaN,Number,637,...,NaN,NaN,Overall,Overall,"(47.475319779, -100.118421049)",38,DIA1_1,NMBR,OVERALL,OVR
1316,2011,2011,DC,District of Columbia,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Crude Rate,163.2,...,149.0,177.4,Race/Ethnicity,"Black, non-Hispanic","(38.907192, -77.036871)",11,DIA1_1,CRDRATE,RACE,BLK
1328,2011,2011,MA,Massachusetts,NVSS,Diabetes,Mortality due to diabetes reported as any list...,NaN,Number,262,...,NaN,NaN,Race/Ethnicity,"Black, non-Hispanic","(42.27687047, -72.082690675)",25,DIA1_1,NMBR,RACE,BLK
1457,2011,2011,WY,Wyoming,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Age-adjusted Rate,59.7,...,53.1,66.3,Race/Ethnicity,"White, non-Hispanic","(43.235541343, -108.109830353)",56,DIA1_1,AGEADJRATE,RACE,WHT
1577,2014,2014,WA,Washington,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Crude Rate,76.4,...,73.3,79.5,Gender,Female,"(47.522278629, -120.47001079)",53,DIA1_1,CRDRATE,GENDER,GENF
1616,2013,2013,CA,California,NVSS,Diabetes,Mortality due to diabetes reported as any list...,NaN,Number,7576,...,NaN,NaN,Race/Ethnicity,Hispanic,"(37.638640123, -120.999999538)",6,DIA1_1,NMBR,RACE,HIS
1651,2012,2012,SC,South Carolina,NVSS,Diabetes,Mortality due to diabetes reported as any list...,NaN,Number,1910,...,NaN,NaN,Gender,Female,"(33.998821303, -81.045371207)",45,DIA1_1,NMBR,GENDER,GENF
2130,2014,2014,RI,Rhode Island,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Crude Rate,20.3,...,13.7,28.9,Race/Ethnicity,Hispanic,"(41.708280193, -71.522470314)",44,DIA1_1,CRDRATE,RACE,HIS
2159,2010,2010,DE,Delaware,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Age-adjusted Rate,62.7,...,56.2,69.3,Gender,Female,"(39.008830667, -75.577741168)",10,DIA1_1,AGEADJRATE,GENDER,GENF
2197,2011,2011,CA,California,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Age-adjusted Rate,93.9,...,92.2,95.6,Gender,Male,"(37.638640123, -120.999999538)",6,DIA1_1,AGEADJRATE,GENDER,GENM
2209,2010,2010,CO,Colorado,NVSS,Diabetes,Mortality due to diabetes reported as any list...,NaN,Number,,...,NaN,NaN,Race/Ethnicity,American Indian or Alaska Native,"(38.843840757, -106.133610921)",8,DIA1_1,NMBR,RACE,AIAN
2389,2010,2010,MN,Minnesota,NVSS,Diabetes,Mortality due to diabetes reported as any list...,NaN,Number,70,...,NaN,NaN,Race/Ethnicity,American Indian or Alaska Native,"(46.355648736, -94.794200503)",27,DIA1_1,NMBR,RACE,AIAN
2390,2010,2010,MA,Massachusetts,NVSS,Diabetes,Mortality due to diabetes reported as any list...,NaN,Number,48,...,NaN,NaN,Race/Ethnicity,Asian or Pacific Islander,"(42.27687047, -72.082690675)",25,DIA1_1,NMBR,RACE,API
2543,2011,2011,AR,Arkansas,NVSS,Diabetes,Mortality due to diabetes reported as any list...,NaN,Number,2410,...,NaN,NaN,Overall,Overall,"(34.748650124, -92.274490743)",5,DIA1_1,NMBR,OVERALL,OVR
2586,2014,2014,IN,Indiana,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Crude Rate,25.4,...,20.7,30.2,Race/Ethnicity,Hispanic,"(39.766910452, -86.149960194)",18,DIA1_1,CRDRATE,RACE,HIS
2601,2011,2011,MO,Missouri,NVSS,Diabetes,Mortality due to diabetes reported as any list...,NaN,Number,23,...,NaN,NaN,Race/Ethnicity,Hispanic,"(38.635790776, -92.566300053)",29,DIA1_1,NMBR,RACE,HIS
2704,2014,2014,CO,Colorado,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Crude Rate,66.1,...,62.7,69.6,Gender,Male,"(38.843840757, -106.133610921)",8,DIA1_1,CRDRATE,GENDER,GENM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517149,2014,2014,VT,Vermont,NVSS,Diabetes,Mortality due to diabetes reported as any list...,NaN,Number,,...,NaN,NaN,Race/Ethnicity,"Black, non-Hispanic","(43.625381239, -72.517640791)",50,DIA1_1,NMBR,RACE,BLK
517200,2012,2012,WI,Wisconsin,NVSS,Diabetes,Mortality due to diabetes reported as any list...,NaN,Number,2217,...,NaN,NaN,Gender,Male,"(44.393191174, -89.816370742)",55,DIA1_1,NMBR,GENDER,GENM
517314,2013,2013,MT,Montana,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Crude Rate,69.1,...,61.8,76.5,Gender,Female,"(47.066528972, -109.424420645)",30,DIA1_1,CRDRATE,GENDER,GENF
517428,2012,2012,KS,Kansas,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Age-adjusted Rate,54.8,...,52.1,57.5,Race/Ethnicity,"White, non-Hispanic","(38.3477403, -98.200781227)",20,DIA1_1,AGEADJRATE,RACE,WHT
517447,2011,2011,MT,Montana,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Age-adjusted Rate,,...,NaN,NaN,Race/Ethnicity,"Black, non-Hispanic","(47.066528972, -109.424420645)",30,DIA1_1,AGEADJRATE,RACE,BLK
517505,2014,2014,MS,Mississippi,NVSS,Diabetes,Mortality due to diabetes reported as any list...,NaN,Number,,...,NaN,NaN,Race/Ethnicity,Asian or Pacific Islander,"(32.745510099, -89.538030825)",28,DIA1_1,NMBR,RACE,API
517723,2012,2012,AZ,Arizona,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Crude Rate,62,...,58.8,65.2,Gender,Female,"(34.86597028, -111.763811277)",4,DIA1_1,CRDRATE,GENDER,GENF
517762,2013,2013,NV,Nevada,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Crude Rate,60.7,...,57.4,64.1,Overall,Overall,"(39.49324039, -117.071840564)",32,DIA1_1,CRDRATE,OVERALL,OVR
517773,2014,2014,NM,New Mexico,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Crude Rate,61.2,...,40.7,88.4,Race/Ethnicity,"Black, non-Hispanic","(34.520880952, -106.240580985)",35,DIA1_1,CRDRATE,RACE,BLK
518016,2012,2012,VA,Virginia,NVSS,Diabetes,Mortality due to diabetes reported as any list...,NaN,Number,,...,NaN,NaN,Race/Ethnicity,American Indian or Alaska Native,"(37.542680674, -78.457890463)",51,DIA1_1,NMBR,RACE,AIAN
518097,2014,2014,KY,Kentucky,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Age-adjusted Rate,111.3,...,106.7,115.9,Gender,Male,"(37.645970271, -84.774971048)",21,DIA1_1,AGEADJRATE,GENDER,GENM
518111,2012,2012,ME,Maine,NVSS,Diabetes,Mortality due to diabetes reported as any list...,NaN,Number,,...,NaN,NaN,Race/Ethnicity,American Indian or Alaska Native,"(45.254228894001, -68.985031336)",23,DIA1_1,NMBR,RACE,AIAN
518160,2014,2014,UT,Utah,NVSS,Diabetes,Mortality due to diabetes reported as any list...,NaN,Number,598,...,NaN,NaN,Gender,Female,"(39.360700171, -111.587130635)",49,DIA1_1,NMBR,GENDER,GENF
518176,2013,2013,AR,Arkansas,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Age-adjusted Rate,,...,NaN,NaN,Race/Ethnicity,Asian or Pacific Islander,"(34.748650124, -92.274490743)",5,DIA1_1,AGEADJRATE,RACE,API
518185,2013,2013,IL,Illinois,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Crude Rate,74.9,...,71.0,78.8,Race/Ethnicity,"Black, non-Hispanic","(40.485010283, -88.997710178)",17,DIA1_1,CRDRATE,RACE,BLK
518291,2011,2011,SD,South Dakota,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Age-adjusted Rate,,...,NaN,NaN,Race/Ethnicity,Asian or Pacific Islander,"(44.353130053, -100.373530637)",46,DIA1_1,AGEADJRATE,RACE,API
518327,2011,2011,MS,Mississippi,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Age-adjusted Rate,,...,NaN,NaN,Race/Ethnicity,Asian or Pacific Islander,"(32.745510099, -89.538030825)",28,DIA1_1,AGEADJRATE,RACE,API
518330,2012,2012,MN,Minnesota,NVSS,Diabetes,Mortality due to diabetes reported as any list...,NaN,Number,140,...,NaN,NaN,Race/Ethnicity,"Black, non-Hispanic","(46.355648736, -94.794200503)",27,DIA1_1,NMBR,RACE,BLK
518353,2013,2013,US,United States,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Age-adjusted Rate,68.2,...,67.9,68.5,Overall,Overall,NaN,59,DIA1_1,AGEADJRATE,OVERALL,OVR
518453,2013,2013,SD,South Dakota,NVSS,Diabetes,Mortality due to diabetes reported as any list...,NaN,Number,372,...,NaN,NaN,Gender,Female,"(44.353130053, -100.373530637)",46,DIA1_1,NMBR,GENDER,GENF
518503,2010,2010,RI,Rhode Island,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Crude Rate,84.3,...,76.1,92.5,Gender,Female,"(41.708280193, -71.522470314)",44,DIA1_1,CRDRATE,GENDER,GENF
518819,2010,2010,KS,Kansas,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Crude Rate,20.7,...,15.8,26.5,Race/Ethnicity,Hispanic,"(38.3477403, -98.200781227)",20,DIA1_1,CRDRATE,RACE,HIS
518826,2014,2014,TX,Texas,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Crude Rate,59.3,...,57.8,60.8,Race/Ethnicity,Hispanic,"(31.827240407, -99.426770206)",48,DIA1_1,CRDRATE,RACE,HIS
519053,2010,2010,CO,Colorado,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Crude Rate,58.9,...,55.5,62.2,Gender,Male,"(38.843840757, -106.133610921)",8,DIA1_1,CRDRATE,GENDER,GENM
519138,2013,2013,OH,Ohio,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Age-adjusted Rate,74.4,...,72.5,76.4,Gender,Female,"(40.060210141, -82.404260056)",39,DIA1_1,AGEADJRATE,GENDER,GENF
519434,2014,2014,OR,Oregon,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Crude Rate,72.3,...,55.9,92.0,Race/Ethnicity,"Black, non-Hispanic","(44.567449424, -120.155031326)",41,DIA1_1,CRDRATE,RACE,BLK
519528,2012,2012,KS,Kansas,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Crude Rate,67,...,62.5,71.4,Gender,Female,"(38.3477403, -98.200781227)",20,DIA1_1,CRDRATE,GENDER,GENF
519616,2012,2012,GA,Georgia,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Age-adjusted Rate,54.3,...,52.5,56.1,Race/Ethnicity,"White, non-Hispanic","(32.839681093, -83.627580346)",13,DIA1_1,AGEADJRATE,RACE,WHT
519638,2011,2011,RI,Rhode Island,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Crude Rate,,...,NaN,NaN,Race/Ethnicity,American Indian or Alaska Native,"(41.708280193, -71.522470314)",44,DIA1_1,CRDRATE,RACE,AIAN
519685,2011,2011,SD,South Dakota,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Crude Rate,106.6,...,99.5,113.8,Overall,Overall,"(44.353130053, -100.373530637)",46,DIA1_1,CRDRATE,OVERALL,OVR

In [22]:
diabetes.loc[diabetes.Question=='Mortality with diabetic ketoacidosis reported as any listed cause of death']

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,DataValueUnit,DataValueType,DataValue,...,LowConfidenceLimit,HighConfidenceLimit,StratificationCategory1,Stratification1,GeoLocation,LocationID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1
303,2011,2011,KS,Kansas,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,27,...,NaN,NaN,Overall,Overall,"(38.3477403, -98.200781227)",20,DIA1_2,NMBR,OVERALL,OVR
664,2010,2010,RI,Rhode Island,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,,...,NaN,NaN,Gender,Female,"(41.708280193, -71.522470314)",44,DIA1_2,NMBR,GENDER,GENF
676,2012,2012,OR,Oregon,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Age-adjusted Rate,0.9,...,0.7,1.3,Overall,Overall,"(44.567449424, -120.155031326)",41,DIA1_2,AGEADJRATE,OVERALL,OVR
703,2014,2014,AK,Alaska,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Crude Rate,,...,NaN,NaN,Race/Ethnicity,American Indian or Alaska Native,"(64.845079957001, -147.722059036)",2,DIA1_2,CRDRATE,RACE,AIAN
828,2011,2011,CT,Connecticut,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Crude Rate,,...,NaN,NaN,Gender,Female,"(41.56266102, -72.649840952)",9,DIA1_2,CRDRATE,GENDER,GENF
1390,2011,2011,AR,Arkansas,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Age-adjusted Rate,1.4,...,0.8,2.1,Gender,Male,"(34.748650124, -92.274490743)",5,DIA1_2,AGEADJRATE,GENDER,GENM
1610,2014,2014,US,United States,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,3889,...,NaN,NaN,Overall,Overall,NaN,59,DIA1_2,NMBR,OVERALL,OVR
1636,2011,2011,KS,Kansas,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,,...,NaN,NaN,Gender,Female,"(38.3477403, -98.200781227)",20,DIA1_2,NMBR,GENDER,GENF
1816,2012,2012,UT,Utah,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,,...,NaN,NaN,Race/Ethnicity,"White, non-Hispanic","(39.360700171, -111.587130635)",49,DIA1_2,NMBR,RACE,WHT
2136,2011,2011,ID,Idaho,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Age-adjusted Rate,,...,NaN,NaN,Gender,Female,"(43.682630005, -114.363730042)",16,DIA1_2,AGEADJRATE,GENDER,GENF
2283,2010,2010,NC,North Carolina,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,61,...,NaN,NaN,Race/Ethnicity,"White, non-Hispanic","(35.466220975, -79.159250463)",37,DIA1_2,NMBR,RACE,WHT
2393,2011,2011,OK,Oklahoma,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,32,...,NaN,NaN,Race/Ethnicity,"White, non-Hispanic","(35.472031356, -97.521070214)",40,DIA1_2,NMBR,RACE,WHT
2432,2011,2011,VA,Virginia,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Age-adjusted Rate,,...,NaN,NaN,Race/Ethnicity,Hispanic,"(37.542680674, -78.457890463)",51,DIA1_2,AGEADJRATE,RACE,HIS
2507,2013,2013,ME,Maine,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Crude Rate,,...,NaN,NaN,Race/Ethnicity,American Indian or Alaska Native,"(45.254228894001, -68.985031336)",23,DIA1_2,CRDRATE,RACE,AIAN
2547,2014,2014,VA,Virginia,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,,...,NaN,NaN,Race/Ethnicity,Hispanic,"(37.542680674, -78.457890463)",51,DIA1_2,NMBR,RACE,HIS
2650,2010,2010,KS,Kansas,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,,...,NaN,NaN,Gender,Female,"(38.3477403, -98.200781227)",20,DIA1_2,NMBR,GENDER,GENF
2675,2011,2011,PA,Pennsylvania,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,113,...,NaN,NaN,Race/Ethnicity,"White, non-Hispanic","(40.793730152, -77.860700294)",42,DIA1_2,NMBR,RACE,WHT
2953,2011,2011,AL,Alabama,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,22,...,NaN,NaN,Gender,Male,"(32.840571122, -86.631860762)",1,DIA1_2,NMBR,GENDER,GENM
2962,2012,2012,MD,Maryland,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Crude Rate,,...,NaN,NaN,Race/Ethnicity,American Indian or Alaska Native,"(39.290580964, -76.609260111)",24,DIA1_2,CRDRATE,RACE,AIAN
3052,2012,2012,WV,West Virginia,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,22,...,NaN,NaN,Gender,Male,"(38.665510202, -80.712640135)",54,DIA1_2,NMBR,GENDER,GENM
3065,2014,2014,ME,Maine,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,,...,NaN,NaN,Race/Ethnicity,"Black, non-Hispanic","(45.254228894001, -68.985031336)",23,DIA1_2,NMBR,RACE,BLK
3202,2012,2012,TN,Tennessee,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Age-adjusted Rate,1.6,...,1.3,1.9,Overall,Overall,"(35.68094058, -85.774490914)",47,DIA1_2,AGEADJRATE,OVERALL,OVR
3256,2012,2012,TN,Tennessee,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Crude Rate,,...,NaN,NaN,Race/Ethnicity,Asian or Pacific Islander,"(35.68094058, -85.774490914)",47,DIA1_2,CRDRATE,RACE,API
3321,2011,2011,NY,New York,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Crude Rate,,...,NaN,NaN,Race/Ethnicity,Hispanic,"(42.827001032, -75.543970427)",36,DIA1_2,CRDRATE,RACE,HIS
3444,2013,2013,FL,Florida,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Age-adjusted Rate,0.6,...,0.5,0.8,Gender,Female,"(28.932040377, -81.928960539)",12,DIA1_2,AGEADJRATE,GENDER,GENF
3564,2013,2013,US,United States,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,3633,...,NaN,NaN,Overall,Overall,NaN,59,DIA1_2,NMBR,OVERALL,OVR
3593,2014,2014,MT,Montana,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,,...,NaN,NaN,Gender,Female,"(47.066528972, -109.424420645)",30,DIA1_2,NMBR,GENDER,GENF
3727,2014,2014,WI,Wisconsin,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,50,...,NaN,NaN,Race/Ethnicity,"White, non-Hispanic","(44.393191174, -89.816370742)",55,DIA1_2,NMBR,RACE,WHT
3865,2012,2012,GA,Georgia,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Crude Rate,1,...,0.7,1.3,Gender,Female,"(32.839681093, -83.627580346)",13,DIA1_2,CRDRATE,GENDER,GENF
4222,2010,2010,WY,Wyoming,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Crude Rate,,...,NaN,NaN,Race/Ethnicity,American Indian or Alaska Native,"(43.235541343, -108.109830353)",56,DIA1_2,CRDRATE,RACE,AIAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517315,2011,2011,MS,Mississippi,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,,...,NaN,NaN,Race/Ethnicity,"White, non-Hispanic","(32.745510099, -89.538030825)",28,DIA1_2,NMBR,RACE,WHT
517320,2010,2010,LA,Louisiana,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Age-adjusted Rate,0.7,...,0.4,1.0,Race/Ethnicity,"White, non-Hispanic","(31.312660644, -92.445680071)",22,DIA1_2,AGEADJRATE,RACE,WHT
517339,2013,2013,WV,West Virginia,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Crude Rate,,...,NaN,NaN,Race/Ethnicity,"Black, non-Hispanic","(38.665510202, -80.712640135)",54,DIA1_2,CRDRATE,RACE,BLK
517434,2014,2014,AZ,Arizona,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Age-adjusted Rate,,...,NaN,NaN,Race/Ethnicity,American Indian or Alaska Native,"(34.86597028, -111.763811277)",4,DIA1_2,AGEADJRATE,RACE,AIAN
517545,2014,2014,VT,Vermont,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Age-adjusted Rate,,...,NaN,NaN,Race/Ethnicity,"White, non-Hispanic","(43.625381239, -72.517640791)",50,DIA1_2,AGEADJRATE,RACE,WHT
517584,2014,2014,SD,South Dakota,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Age-adjusted Rate,,...,NaN,NaN,Race/Ethnicity,American Indian or Alaska Native,"(44.353130053, -100.373530637)",46,DIA1_2,AGEADJRATE,RACE,AIAN
517632,2013,2013,DC,District of Columbia,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Crude Rate,,...,NaN,NaN,Race/Ethnicity,Asian or Pacific Islander,"(38.907192, -77.036871)",11,DIA1_2,CRDRATE,RACE,API
517737,2012,2012,OR,Oregon,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,25,...,NaN,NaN,Gender,Male,"(44.567449424, -120.155031326)",41,DIA1_2,NMBR,GENDER,GENM
517742,2012,2012,TX,Texas,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Crude Rate,1.2,...,1.0,1.4,Race/Ethnicity,"White, non-Hispanic","(31.827240407, -99.426770206)",48,DIA1_2,CRDRATE,RACE,WHT
517896,2011,2011,MI,Michigan,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Crude Rate,,...,NaN,NaN,Race/Ethnicity,Asian or Pacific Islander,"(44.661319543001, -84.71439027)",26,DIA1_2,CRDRATE,RACE,API
517997,2013,2013,MI,Michigan,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Age-adjusted Rate,0.8,...,0.6,1.1,Gender,Female,"(44.661319543001, -84.71439027)",26,DIA1_2,AGEADJRATE,GENDER,GENF
518064,2012,2012,SC,South Carolina,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Crude Rate,,...,NaN,NaN,Race/Ethnicity,Asian or Pacific Islander,"(33.998821303, -81.045371207)",45,DIA1_2,CRDRATE,RACE,API
518081,2010,2010,MD,Maryland,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Age-adjusted Rate,0.9,...,0.6,1.3,Gender,Female,"(39.290580964, -76.609260111)",24,DIA1_2,AGEADJRATE,GENDER,GENF
518126,2012,2012,RI,Rhode Island,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Crude Rate,,...,NaN,NaN,Gender,Male,"(41.708280193, -71.522470314)",44,DIA1_2,CRDRATE,GENDER,GENM
518191,2011,2011,HI,Hawaii,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,,...,NaN,NaN,Gender,Male,"(21.304850435, -157.857749403)",15,DIA1_2,NMBR,GENDER,GENM
518263,2012,2012,NH,New Hampshire,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,,...,NaN,NaN,Race/Ethnicity,"White, non-Hispanic","(43.655950113, -71.50036092)",33,DIA1_2,NMBR,RACE,WHT
518372,2014,2014,WA,Washington,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Crude Rate,1.7,...,1.3,2.1,Race/Ethnicity,"White, non-Hispanic","(47.522278629, -120.47001079)",53,DIA1_2,CRDRATE,RACE,WHT
518484,2011,2011,NH,New Hampshire,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,,...,NaN,NaN,Gender,Male,"(43.655950113, -71.50036092)",33,DIA1_2,NMBR,GENDER,GENM
518588,2013,2013,OR,Oregon,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,,...,NaN,NaN,Race/Ethnicity,"Black, non-Hispanic","(44.567449424, -120.155031326)",41,DIA1_2,NMBR,RACE,BLK
518691,2012,2012,OR,Oregon,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Crude Rate,,...,NaN,NaN,Race/Ethnicity,American Indian or Alaska Native,"(44.567449424, -120.155031326)",41,DIA1_2,CRDRATE,RACE,AIAN
518716,2012,2012,UT,Utah,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,,...,NaN,NaN,Gender,Female,"(39.360700171, -111.587130635)",49,DIA1_2,NMBR,GENDER,GENF
519097,2014,2014,MN,Minnesota,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Crude Rate,1.1,...,0.9,1.4,Overall,Overall,"(46.355648736, -94.794200503)",27,DIA1_2,CRDRATE,OVERALL,OVR
519135,2010,2010,TN,Tennessee,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,48,...,NaN,NaN,Gender,Male,"(35.68094058, -85.774490914)",47,DIA1_2,NMBR,GENDER,GENM
519188,2014,2014,AZ,Arizona,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,37,...,NaN,NaN,Gender,Female,"(34.86597028, -111.763811277)",4,DIA1_2,NMBR,GENDER,GENF
519377,2011,2011,NH,New Hampshire,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,,...,NaN,NaN,Race/Ethnicity,"White, non-Hispanic","(43.655950113, -71.50036092)",33,DIA1_2,NMBR,RACE,WHT
519440,2013,2013,DE,Delaware,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Crude Rate,,...,NaN,NaN,Gender,Male,"(39.008830667, -75.577741168)",10,DIA1_2,CRDRATE,GENDER,GENM
519475,2012,2012,IL,Illinois,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Age-adjusted Rate,0.9,...,0.7,1.1,Race/Ethnicity,"White, non-Hispanic","(40.485010283, -88.997710178)",17,DIA1_2,AGEADJRATE,RACE,WHT
519650,2014,2014,UT,Utah,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,25,...,NaN,NaN,Race/Ethnicity,"White, non-Hispanic","(39.360700171, -111.587130635)",49,DIA1_2,NMBR,RACE,WHT
519652,2010,2010,NY,New York,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Age-adjusted Rate,1.6,...,1.2,2.2,Race/Ethnicity,"Black, non-Hispanic","(42.827001032, -75.543970427)",36,DIA1_2,AGEADJRATE,RACE,BLK
519664,2011,2011,NM,New Mexico,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,"cases per 100,000",Crude Rate,,...,NaN,NaN,Race/Ethnicity,"Black, non-Hispanic","(34.520880952, -106.240580985)",35,DIA1_2,CRDRATE,RACE,BLK

It appears that each question corresponds to its own QuestionID.  
For example, DIA1_1 corresponse to : 'Mortality due to diabetes reported as any listed cause of death'

In [19]:
# most common questions
data.Question.value_counts()

Hospitalization for hip fracture among Medicare-eligible persons aged >= 65 years                                                       7488
Hospitalization for chronic obstructive pulmonary disease as first-listed diagnosis among Medicare-eligible persons aged >= 65 years    7488
Hospitalization for heart failure among Medicare-eligible persons aged >= 65 years                                                      7488
Hospitalization for chronic obstructive pulmonary disease as any diagnosis among Medicare-eligible persons aged >= 65 years             7488
Asthma mortality rate                                                                                                                   6135
Mortality from diseases of the heart                                                                                                    6135
Mortality from cerebrovascular disease (stroke)                                                                                         6135
Mortality with diabetic ketoacidosis reported as any listed cause of death                                                              6135
Mortality with end-stage renal disease                                                                                                  6135
Chronic liver disease mortality                                                                                                         6135
Mortality with chronic obstructive pulmonary disease as underlying or contributing cause among adults aged >= 45 years                  6135
Mortality from total cardiovascular diseases                                                                                            6135
Mortality due to diabetes reported as any listed cause of death                                                                         6135
Mortality from heart failure                                                                                                            6135
Mortality from coronary heart disease                                                                                                   6135
Premature mortality among adults aged 45-64 years                                                                                       6135
Mortality with chronic obstructive pulmonary disease as underlying cause among adults aged >= 45 years                                  6135
Arthritis among adults aged >= 18 years who are obese                                                                                   5225
Prevalence of depressive disorders among adults aged >= 18 years with diagnosed diabetes                                                5220
Influenza vaccination among noninstitutionalized adults aged >= 65 years with asthma                                                    5220
Adults with diagnosed diabetes aged >= 18 years who have taken a diabetes self-management course                                        5220
Arthritis among adults aged >= 18 years                                                                                                 5220
Influenza vaccination among noninstitutionalized adults aged >= 18 years                                                                5220
Prevalence of chronic kidney disease among adults aged >= 18 years                                                                      5220
Dilated eye examination among adults aged >= 18 years with diagnosed diabetes                                                           5220
Binge drinking intensity among adults aged >= 18 years who binge drink                                                                  5220
Influenza vaccination among noninstitutionalized adults aged >= 65 years with a history of coronary heart disease or stroke             5220
Influenza vaccination among noninstitutionalized adults aged 18-64 years with a history of coronary heart disease or stroke             5220
Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years who smoke                                                   5220
Prevalence of activity limitation among adults >= 18 with diagnosed chronic obstructive pulmonary disease                               5220
                                                                                                                                        ...
Obesity among high school students                                                                                                       110
Television viewing among high school students                                                                                            110
Soda consumption among high school students                                                                                              110
Alcohol use among youth                                                                                                                  110
Participation in daily school physical education classes among high school students                                                      110
Commercial host (dram shop) liability laws                                                                                               110
Current cigarette smoking among youth                                                                                                    110
Overweight or obesity among high school students                                                                                         110
Sale of cigarette packs                                                                                                                  110
Presence of regulations pertaining to serving fruit in early care and education settings                                                 108
Presence of regulations pertaining to serving vegetables in early care and education settings                                            108
State child care regulation supports onsite breastfeeding                                                                                108
Presence of regulations pertaining to screen time in early care and education settings                                                   108
Folic acid supplementation                                                                                                                55
Alcohol use before pregnancy                                                                                                              55
Pre-pregnancy hypertension                                                                                                                55
Poverty among women aged 18-44 years                                                                                                      55
Prevalence of pre-pregnancy diabetes                                                                                                      55
Farmers markets that accept Women and Infant Children (WIC) farmers market nutrition program coupons                                      55
Postpartum checkup                                                                                                                        55
Health insurance coverage before pregnancy                                                                                                55
Postpartum depressive symptoms                                                                                                            55
Preventive dental care before pregnancy                                                                                                   55
Farmers markets that accept Supplemental Nutrition Assistance Program (SNAP) benefits                                                     55
Cigarette smoking before pregnancy                                                                                                        55
Number of farmers markets per 100,000 residents                                                                                           55
Presence of regulations pertaining to avoiding sugar in early care and education settings                                                 54
Prevalence of gestational diabetes                                                                                                        52
Life expectancy at age 65 years                                                                                                           52
Life expectancy at birth                                                                                                                  52
Name: Question, Length: 203, dtype: int64