# DataHacks2020: Science Track

## Exploratory Data Analysis

### Notes:
* Five or more relatied sections from any topic of interest
* NLP on questions

In [5]:
import numpy as np
import pandas as pd

In [23]:
raw_data = pd.read_csv('data/U.S._Chronic_Disease_Indicators__CDI_.csv')

In [24]:
raw_data.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2015,2015,US,United States,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,NaN,$,US Dollars,...,59,ALC,ALC8_0_2,USD,OVERALL,OVR,NaN,NaN,NaN,NaN
1,2012,2012,DC,District of Columbia,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,NaN,$,US Dollars,...,11,ALC,ALC8_0_1,USD,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2012,2012,GU,Guam,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,NaN,$,US Dollars,...,66,ALC,ALC8_0_1,USD,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2012,2012,PR,Puerto Rico,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,NaN,$,US Dollars,...,72,ALC,ALC8_0_1,USD,OVERALL,OVR,NaN,NaN,NaN,NaN
4,2012,2012,US,United States,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,NaN,$,US Dollars,...,59,ALC,ALC8_0_1,USD,OVERALL,OVR,NaN,NaN,NaN,NaN

In [4]:
# attributes to note: YearStart/YearEnd, Tpoic, Question, Response, DataValue, Geolocation, StartificationCategory
raw_data.describe()

,YearStart,YearEnd,DataValueAlt,LowConfidenceLimit,HighConfidenceLimit,LocationID
count,519718.000000,519718.000000,3.503350e+05,311062.000000,311062.000000,519718.000000
mean,2013.141885,2013.162754,8.917742e+02,46.759401,58.991287,30.993144
std,1.777622,1.762672,1.833073e+04,77.492628,88.668862,17.723341
min,2001.000000,2001.000000,0.000000e+00,0.200000,0.420000,1.000000
25%,2012.000000,2012.000000,1.845500e+01,12.700000,18.900000,17.000000
50%,2013.000000,2013.000000,4.100000e+01,30.200000,43.800000,30.000000
75%,2015.000000,2015.000000,7.030000e+01,55.400000,70.400000,45.000000
max,2016.000000,2016.000000,2.600878e+06,1330.660000,2088.000000,78.000000

In [6]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519718 entries, 0 to 519717
Data columns (total 34 columns):
YearStart                    519718 non-null int64
YearEnd                      519718 non-null int64
LocationAbbr                 519718 non-null object
LocationDesc                 519718 non-null object
DataSource                   519718 non-null object
Topic                        519718 non-null object
Question                     519718 non-null object
Response                     79188 non-null object
DataValueUnit                476046 non-null object
DataValueType                519718 non-null object
DataValue                    374564 non-null object
DataValueAlt                 350335 non-null float64
DataValueFootnoteSymbol      227318 non-null object
DatavalueFootnote            227152 non-null object
LowConfidenceLimit           311062 non-null float64
HighConfidenceLimit          311062 non-null float64
StratificationCategory1      519718 non-null object
Stratification1              519718 non-null object
StratificationCategory2      79188 non-null object
Stratification2              79188 non-null object
StratificationCategory3      79188 non-null object
Stratification3              79188 non-null object
GeoLocation                  516115 non-null object
ResponseID                   79176 non-null object
LocationID                   519718 non-null int64
TopicID                      519718 non-null object
QuestionID                   519718 non-null object
DataValueTypeID              519718 non-null object
StratificationCategoryID1    519718 non-null object
StratificationID1            519718 non-null object
StratificationCategoryID2    79189 non-null object
StratificationID2            79189 non-null object
StratificationCategoryID3    79188 non-null object
StratificationID3            79188 non-null object
dtypes: float64(3), int64(3), object(28)
memory usage: 134.8+ MB

Response, ResponseID, Stratification2/3, StratificationID2/3, StratificationCategory2/3, and StratificationCategoryID2/3 all have ~ 79000 non-null, which is suspicious

In [ ]:
# 2001-2016 time span
# srat cat 2 and 3 are all null
# response is not response its null?, DataValue contains the values
# plotly

In [25]:
null_cols = ['Response', 'ResponseID', 'Stratification2', 'Stratification3', 
             'StratificationCategory2', 'StratificationCategory3', 'StratificationID2', 'StratificationID3', 
             'StratificationCategoryID2', 'StratificationCategoryID3']

for col in null_cols:
    print(raw_data[col].value_counts())

     79188
Name: Response, dtype: int64
     79176
Name: ResponseID, dtype: int64
     79188
Name: Stratification2, dtype: int64
     79188
Name: Stratification3, dtype: int64
     79188
Name: StratificationCategory2, dtype: int64
     79188
Name: StratificationCategory3, dtype: int64
     79189
Name: StratificationID2, dtype: int64
     79188
Name: StratificationID3, dtype: int64
     79189
Name: StratificationCategoryID2, dtype: int64
     79188
Name: StratificationCategoryID3, dtype: int64

All of these columns are blank/null, so we can safely remove them.

In [26]:
data = raw_data.drop(null_cols, axis=1)

There is both a Topic and TopicID column, which could be redundant.

In [35]:
data[['Topic', 'TopicID']].groupby('Topic')['TopicID'].nunique()

Topic
Alcohol                                            1
Arthritis                                          1
Asthma                                             1
Cancer                                             1
Cardiovascular Disease                             1
Chronic Kidney Disease                             1
Chronic Obstructive Pulmonary Disease              1
Diabetes                                           1
Disability                                         1
Immunization                                       1
Mental Health                                      1
Nutrition, Physical Activity, and Weight Status    1
Older Adults                                       1
Oral Health                                        1
Overarching Conditions                             1
Reproductive Health                                1
Tobacco                                            1
Name: TopicID, dtype: int64

Indeed, Topic and TopicID are redundant, so we can remove one. In this case, TopicID is mor ambiguous, so we remove it

Let's now look at the topics:

In [27]:
data.Topic.value_counts(normalize=True)

Diabetes                                           0.153220
Chronic Obstructive Pulmonary Disease              0.151484
Cardiovascular Disease                             0.145823
Arthritis                                          0.080361
Overarching Conditions                             0.075737
Asthma                                             0.075543
Nutrition, Physical Activity, and Weight Status    0.064691
Alcohol                                            0.061283
Tobacco                                            0.056388
Older Adults                                       0.029439
Cancer                                             0.027132
Chronic Kidney Disease                             0.023849
Oral Health                                        0.021429
Mental Health                                      0.013902
Immunization                                       0.010044
Disability                                         0.005711
Reproductive Health                                0.003964
Name: Topic, dtype: float64

There is the most data for Diabetes, so we'll explore it first.

In [28]:
diabetes = data.loc[data.Topic=='Diabetes']
diabetes.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,DataValueUnit,DataValueType,DataValue,...,HighConfidenceLimit,StratificationCategory1,Stratification1,GeoLocation,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1
258,2012,2012,IL,Illinois,BRFSS,Diabetes,Foot examination among adults aged >= 18 years...,%,Age-adjusted Prevalence,NaN,...,NaN,Gender,Male,"(40.485010283, -88.997710178)",17,DIA,DIA5_0,AGEADJPREV,GENDER,GENM
262,2011,2011,IL,Illinois,BRFSS,Diabetes,Foot examination among adults aged >= 18 years...,%,Crude Prevalence,NaN,...,NaN,Gender,Male,"(40.485010283, -88.997710178)",17,DIA,DIA5_0,CRDPREV,GENDER,GENM
276,2010,2010,AK,Alaska,NVSS,Diabetes,Mortality due to diabetes reported as any list...,"cases per 100,000",Age-adjusted Rate,51.9,...,61.7,Gender,Female,"(64.845079957001, -147.722059036)",2,DIA,DIA1_1,AGEADJRATE,GENDER,GENF
303,2011,2011,KS,Kansas,NVSS,Diabetes,Mortality with diabetic ketoacidosis reported ...,NaN,Number,27,...,NaN,Overall,Overall,"(38.3477403, -98.200781227)",20,DIA,DIA1_2,NMBR,OVERALL,OVR
308,2016,2016,FL,Florida,BRFSS,Diabetes,Influenza vaccination among noninstitutionaliz...,%,Crude Prevalence,48,...,53.2,Race/Ethnicity,"White, non-Hispanic","(28.932040377, -81.928960539)",12,DIA,DIA12_1,CRDPREV,RACE,WHT

In [30]:
diabetes.TopicID.value_counts()

DIA    79631
Name: TopicID, dtype: int64

                                                 Topic  TopicID
Topic
Alcohol                                              1        1
Arthritis                                            1        1
Asthma                                               1        1
Cancer                                               1        1
Cardiovascular Disease                               1        1
Chronic Kidney Disease                               1        1
Chronic Obstructive Pulmonary Disease                1        1
Diabetes                                             1        1
Disability                                           1        1
Immunization                                         1        1
Mental Health                                        1        1
Nutrition, Physical Activity, and Weight Status      1        1
Older Adults                                         1        1
Oral Health                                          1        1
Overarching Conditions                               1        1
Reproductive Health                                  1        1
Tobacco                                              1        1